<div *ngIf = "display">
  <app-atom-spinner
    [animationDuration]="500"
    [size]="100"
    [color]="'#70ACDA'">
  </app-atom-spinner>
</div>
<!-- POP UP WINDOW -->
<div class="rg-modal">
  <div class="container bg-transparent">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="contactForm" (ngSubmit)="saveEmployee(contactForm)" novalidate>
          <table class="form-group table table-borderless text-white w-100">
            <tr>
              <td>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="name" 
                  value={{name}} readonly>
                </div>               
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" aria-describedby="address" 
                  formControlName="address" value="{{address}}">
                </div>               
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="category">Category</label>                  
                  <input type="text" class="form-control" id="category" aria-describedby="category" 
                  formControlName="category" value="{{category}}" readonly>
                </div>               
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="skills">Skills</label>
                  <input type="text" class="form-control" id="skills" aria-describedby="skills" 
                  formControlName="skills" value="{{skills}}">
                </div>               
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="skills">Locations</label>                  
                </div>               
              </td>
            </tr>
            <tr>
              <td>
                <div *ngFor="let v of contactForm.value.locations" class="moreplace-bx">
                  <h3>{{v.project}}</h3>
                  <p>{{v.projectcode}}</p>
                  <p>{{v.lacation}}</p>
                  <p>{{v.startdate}}</p>
                  <p>{{v.enddate}}</p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <button class="btn btn-outline-light mr-1 btn-lg" type="submit" [disabled]="!contactForm.valid">save</button>
                <button class="btn btn-outline-warning btn-lg" (click)="backToHome()">Back</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

