@import "./../node_modules/bootstrap/scss/bootstrap";


$model-bg: #70ACDA
$white: #FFFFFF
$black: #000000

body
  background: darken($white, 1%)
  .container
    background: $white
    table
      width: 1245px
  .container-fluid
    background: $white
  .navbar-dark
    background: $model-bg
  .scrolled-table
    width: 100%
    overflow: scroll
  .comma
    span
      text-transform: capitalize
    span:after
      content: '/'
      margin-right: 3px
      text-transform: uppercase
    span:last-child:after
      content: ''
  table.start-cap
    tbody
      tr
        td
          text-transform:capitalize !important
  .rg-modal
    background: darken($model-bg, 5%)
    color: $white
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 10px
    overflow-y: scroll
    width: 100%
    overflow-x: hidden
    table
      td
        padding: 4px
  .new-project-box
    float: left;
    width: 200px;
    padding: 10px;
    color: $white;
    line-height: 10px;
    .title
      font-size: 1.5rem;
      padding: 11px 0;
  .new-project-box:nth-child(n)
    background: rgba(0,0,0,0.5);
  .new-project-box:nth-child(2n)
    background: rgba(0,0,0,1);
  .moreplace-bx
    width: 300px;
    border: 1px solid #fff;
    padding: 10px;
    float: left;
    p
      padding: 0;
      margin: 0;

 




