
<div class="row">
  <div class="col-md-12">
  <form>
      <mat-form-field style="width:100%">
        <input matInput placeholder="Search for employee name" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img class="rounded-circle" aria-hidden [src]="state.profilepicpath" height="40">
            <span> <strong> {{state.name}}</strong></span>
            <small class="text-success"> | &#8594; {{state.skills}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
