<div *ngIf = "display">
  <app-atom-spinner
    [animationDuration]="500"
    [size]="100"
    [color]="'#70ACDA'">
  </app-atom-spinner>
</div>
<h5 class="bg-light text-dark p-4">Employees Details</h5>
<div class="scrolled-table">
    <table class="table table-borderless table-hover start-cap">
        <tr>
          <th>Comp. ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Skills</th>
          <th>Date of Join</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let x of employeeLists">
          <td>{{x.id}}</td>
          <td><img src="./assets/profiles/{{x.profilepicpath}}" alt="name" style="height:50px" class="rounded-circle"></td>
          <td>
            <strong>{{x.name}}</strong><br/>
            <small>{{x.address}}</small>
          </td>
          <td>{{x.category}}</td>
          <td class="comma">{{x.skills}}</td>
          <td>{{x.doj}}</td>
          <td><button class="btn btn-outline-dark" (click)="editThisEmployee(x)">View</button></td>
          <td><button class="btn btn-outline-danger" (click)="deleteEmployee(x.id)">Delete</button></td>
        </tr>
      </table>
</div>


